@import "./colors/nord/src/nord.css";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--nord0);
    color: var(--nord10);
}

h1#heading-main {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    margin: auto;
    width: 15%;
    border: 3px var(--nord8);
    padding: 10px;
    /* background-color: violet; */
}

img.odin-main {
    padding: 10px;
    height: auto;
    width: 100%;
    /* min-width: 100%;
    min-height: 100%; */
}

#list-items {
    color: var(--nord6);
}